<div *ngIf="isAdmin">
  admin
</div>

<!-- <pre>
  {{ decodedToken | json }}
</pre> -->

<div *ngIf="!isAdmin">
    <h2>Complétez votre profil</h2>

    <form #loginForm="ngForm" [formGroup]="form" (ngSubmit)="updateProfil(form.value)">
        <div class="form-group">
          <label for="exampleInputEmail1">Votre email</label>
          <input type="email" 
                class="form-control" 
                id="exampleInputEmail1" 
                aria-describedby="emailHelp"
                name="email"
                placeholder="email"
                formControlName="email"
                value="{{decodedToken.email}}"
                required
                >
        </div>
        <div class="form-group">
            <label for="firstName">Votre prénom</label>
            <input type="text" 
                  class="form-control" 
                  id="firstName" 
                  name="firstName"
                  formControlName="firstName"
                  placeholder="{{decodedToken.firstName == '' ? 'Entrez votre prénom' : ''}}"
                  value="{{decodedToken.firstName == '' ? '' : decodedToken.firstName}}"
                  required
                  >
        </div>
        <div class="form-group">
            <label for="firstName">Votre nom</label>
            <input type="text" 
                  class="form-control" 
                  id="lastName" 
                  name="lastName"
                  formControlName="lastName"
                  placeholder="{{decodedToken.lastName == '' ? 'Entrez votre nom' : ''}}"
                  value="{{decodedToken.lastName == '' ? '' : decodedToken.lastName}}"
                  required
                  >
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
      </form>
</div>
